:root {
  --calendar-border-color: #CCCCCC;

  --font-color-today: navy;
  --font-color-light: whitesmoke;
  --font-color-dark: #222222;
  --font-color-holiday: yellowgreen;

  --bg-color-month-1: #DDDDDD;
  --bg-color-month-2: #BBBBBB;

  --bg-color-holiday: yellowgreen;
  --bg-color-weekday: #222222;
  --bg-color-today: mediumvioletred;

  --bg-color-event-owner: dodgerblue;
  --bg-color-event-anniversary: gold;
  --bg-color-event: lavenderblush;
  --bg-color-day: white;

  --border-color-weekday: #999999;

  --boxshadow-color-today: #333333;

  interpolate-size: allow-keywords;
}

html,
body,
main {
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  padding: 0 5px;

  &.hide-config {
    .form-config {
      height: 0;
    }

    .config {
      rotate: -90deg;
      translate: -0.5rem;
    }
  }
}

.form-config {
  transition: 200ms height ease;
  overflow: hidden;

  >.auth {
    display: grid;
    gap: 5px;
    grid-template-columns: max-content 1fr max-content;
    margin: 5px 0;
    padding: 10px 5px;
    background-color: #efefef;

    >button {
      grid-row: 1;
      grid-column: 3;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  position: relative;
  background-color: white;

  .config {
    position: fixed;
    right: 0.5rem;
    rotate: 90deg;
    cursor: pointer;
    scale: 1 1.8;
    transition: all 0.2s;
  }

  .date {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .refresh {
    cursor: pointer;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding-bottom: 5px;
  text-align: center;

  >div {
    position: relative;
    border-radius: 5px;
    padding: 5px;
    min-height: 3em;
    color: var(--font-color-dark);

    >div {
      text-align: left;
      padding: 0 4px;
      border-radius: 4px;
      font-size: 1rem;
      font-weight: normal;

      &::before {
        content: attr(title);
        position: relative;
        z-index: 1;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }

  >div:nth-child(-n+7) {
    position: sticky;
    z-index: 2;
    top: 0;
    min-height: 1.2rem;
    margin: 0 -5px;
    background-color: var(--bg-color-day);

    &::before {
      content: attr(title);
      position: absolute;
      display: flex;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 5px;
      width: calc(100% - 10px);
      height: 100%;
      border-radius: 5px;
      border: 1px solid var(--border-color-weekday);
      color: var(--font-color-dark);
    }

    &.todays-day::before {
      color: var(--font-color-light);
      background-color: var(--bg-color-weekday);
    }
  }

  >div:nth-child(1),
  >div:nth-child(2) {
    &::before {
      color: var(--font-color-holiday);
      border: 1px solid var(--bg-color-holiday);
    }

    &.todays-day::before {
      color: var(--font-color-light);
      background-color: var(--bg-color-holiday);
    }
  }

  >div>div.holiday {
    color: var(--font-color-light);
    background-color: var(--bg-color-holiday);
  }

  &:has(.today+div>.holiday) .todays-day+div::before,
  &:has(.today+div+div>.holiday) .todays-day+div+div::before,
  &:has(.today+div+div+div>.holiday) .todays-day+div+div+div::before,
  &:has(.today+div+div+div>.holiday) .day-header:has(+div+div+div+.todays-day)::before,
  &:has(.today+div+div+div+div>.holiday) .todays-day+div+div+div+div::before,
  &:has(.today+div+div+div+div>.holiday) .day-header:has(+div+div+.todays-day)::before,
  &:has(.today+div+div+div+div+div>.holiday) .todays-day+div+div+div+div+div::before,
  &:has(.today+div+div+div+div+div>.holiday) .day-header:has(+div+.todays-day)::before,
  &:has(.today+div+div+div+div+div+div>.holiday) .todays-day+div+div+div+div+div+div::before,
  &:has(.today+div+div+div+div+div+div>.holiday) .day-header:has(+.todays-day)::before {
    color: var(--font-color-holiday);
    border: 1px solid var(--bg-color-holiday);
  }

  &:has(.today>.holiday) .todays-day::before {
    color: var(--font-color-light) !important;
    background-color: var(--bg-color-holiday);
    border: 1px solid var(--bg-color-holiday);
  }
}

.today {
  box-shadow: 2px 2px 4px 1px var(--boxshadow-color-today);
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--font-color-today);

  >div {
    font-size: unset;
  }
}

.holiday::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-color-holiday);
  filter: opacity(0.2);
}

.owner {
  color: var(--font-color-light);
  background-color: var(--bg-color-event-owner);
}

.anniversary {
  background-color: var(--bg-color-event-anniversary);
}

.event {
  background-color: var(--bg-color-event);
}

.month-0 {
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: var(--calendar-border-color);
}

.month-1 {
  background-color: var(--bg-color-month-1);
}

.month-2,
.month--1,
.month--10,
.month--11 {
  background-color: var(--bg-color-month-2);
}