:root {
  --calendar-border-color: #CCCCCC;

  --font-color-today: navy;
  --font-color-light: whitesmoke;
  --font-color-dark: #222222;

  --bg-color-month-1: #DDDDDD;
  --bg-color-month-2: #BBBBBB;

  --bg-color-holiday: yellowgreen;
  --bg-color-weekday: #222222;
  --bg-color-today: mediumvioletred;

  --bg-color-event-owner: dodgerblue;
  --bg-color-event-anniversary: gold;
  --bg-color-event: lavenderblush;

  --boxshadow-color-today: #333333;
}

html,
body,
main {
  height: 100%;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  padding: 0 5px;

  &.hide-config {
    .form-config {
      display: none;
    }

    .config {
      rotate: -90deg;
      translate: -0.5rem;
    }
  }
}

.form-config {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr max-content max-content;
  grid-template-rows: auto auto;
  grid-auto-flow: column;

  >label {
    grid-column: 2 / 3;
    text-align: end;

    &::before {
      content: attr(title);
    }

    input {
      margin-left: 5px;
    }
  }

  >button {
    grid-column: 3 / 3;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  position: relative;
  background-color: white;

  .config {
    position: fixed;
    right: 0.5rem;
    rotate: 90deg;
    cursor: pointer;
    scale: 1 1.8;
    transition: all 0.2s;
  }

  .date {
    display: flex;
    justify-content: center;    
    width: 100%;
  }

  .refresh {
    cursor: pointer;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;

  >div {
    position: relative;
    border-radius: 5px;
    padding: 5px;
    min-height: 3em;
    color: var(--font-color-dark);

    >div {
      padding: 0 4px;
      border-radius: 4px;
      z-index: 1;

      &::before {
        content: attr(title);
        position: relative;
        z-index: 1;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    &::before {
      content: attr(title);
      display: block;
      text-align: center;
    }
  }

  >div:nth-child(-n+7) {
    position: sticky;
    z-index: 2;
    top: 2px;
    min-height: unset;
    color: var(--font-color-light);
    background-color: var(--bg-color-weekday);
  }

  >div:nth-child(1),
  >div:nth-child(2),
  >div>div.holiday {
    color: var(--font-color-light);
    background-color: var(--bg-color-holiday);
  }

}

.today {
  box-shadow: 2px 2px 4px 1px var(--boxshadow-color-today);

  &::before {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--font-color-today);
  }
}

.holiday::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg-color-holiday);
  filter: opacity(0.2);
}

.owner {
  color: var(--font-color-light);
  background-color: var(--bg-color-event-owner);
}

.anniversary {
  background-color: var(--bg-color-event-anniversary);
}

.event {
  background-color: var(--bg-color-event);
}

.month-0 {
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: var(--calendar-border-color);
}

.month-1 {
  background-color: var(--bg-color-month-1);
}

.month-2,
.month--1 {
  background-color: var(--bg-color-month-2);
}